In [1]:

import shap
import explanations


from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

from utils import feature_names
import time

In [2]:
X, y = shap.datasets.california(n_points=5000)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)
model = RandomForestRegressor(max_depth=100, random_state=42)
model.fit(X_train, y_train)
model.score(X_test,y_test)

0.7939460881429082

In [3]:
X

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
14740,4.1518,22.0,5.663073,1.075472,1551.0,4.180593,32.58,-117.05
10101,5.7796,32.0,6.107226,0.927739,1296.0,3.020979,33.92,-117.97
20566,4.3487,29.0,5.930712,1.026217,1554.0,2.910112,38.65,-121.84
2670,2.4511,37.0,4.992958,1.316901,390.0,2.746479,33.20,-115.60
15709,5.0049,25.0,4.319261,1.039578,649.0,1.712401,37.79,-122.43
...,...,...,...,...,...,...,...,...
3849,4.5081,33.0,4.511335,0.972292,844.0,2.125945,34.18,-118.46
10259,4.6806,18.0,4.633803,1.014085,209.0,2.943662,33.86,-117.85
5641,4.4671,47.0,5.382567,0.992736,1163.0,2.815981,33.74,-118.30
1298,2.6364,47.0,5.121457,1.028340,587.0,2.376518,38.01,-121.82
1359,3.7043,17.0,5.677966,1.055470,1939.0,2.987673,38.03,-121.97

In [4]:
st = time.time()
explanation_app = explanations.model_explanations(X_test,y_test,model,output='text')
et = time.time()
print(et-st)

"""if __name__ == '__main__':
    explanation_app.run_server(debug=True)"""
explanation_app

{}
0.20761799812316895

      Feature  Importance
0      MedInc       1.159
1    HouseAge       0.935
5    AveOccup       0.898
6    Latitude       0.832
7   Longitude       0.791
4  Population       0.778
3   AveBedrms       0.769
2    AveRooms       0.720

In [5]:
st = time.time()
explainer = shap.Explainer(model, X_test)
shap_values = explainer(X_test,check_additivity=False)
et = time.time()
print(et-st)

 97%|=================== | 972/1000 [00:27<00:00]

27.069942951202393

In [6]:
attributions = shap_values.values.mean(axis=0)
attributions = attributions.reshape(X_test.shape[1])
feature_names(X_test,attributions)

      Feature  Importance
0      MedInc       0.123
6    Latitude       0.076
7   Longitude       0.028
2    AveRooms       0.017
1    HouseAge       0.012
3   AveBedrms       0.003
5    AveOccup       0.003
4  Population       0.001