In [95]:
import shap
import explanations
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

from utils import feature_names
import time

In [96]:
X, y = shap.datasets.adult(n_points=1000)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)
model = RandomForestClassifier(max_depth=100, random_state=42)
model.fit(X_train, y_train)
model.score(X_test,y_test)

0.855

In [97]:
X

,Age,Workclass,Education-Num,Marital Status,Occupation,Relationship,Race,Sex,Capital Gain,Capital Loss,Hours per week,Country
22278,27.0,4,10.0,0,1,1,4,0,0.0,0.0,44.0,39
8950,27.0,4,13.0,4,10,0,4,0,0.0,0.0,40.0,39
7838,25.0,4,12.0,2,12,4,4,1,0.0,0.0,40.0,39
16505,46.0,4,3.0,2,14,4,0,1,0.0,1902.0,40.0,39
19140,45.0,4,7.0,0,14,0,4,1,0.0,2824.0,76.0,39
...,...,...,...,...,...,...,...,...,...,...,...,...
17281,32.0,4,9.0,2,3,4,4,1,0.0,0.0,40.0,39
22726,41.0,4,9.0,2,3,4,4,1,0.0,0.0,40.0,39
24871,27.0,2,13.0,4,14,0,4,0,0.0,0.0,40.0,39
16052,51.0,4,9.0,2,14,4,4,1,0.0,0.0,50.0,39
31779,47.0,4,12.0,4,1,0,4,0,0.0,0.0,40.0,39

In [98]:
st = time.time()
explanation_app = explanations.model_explanations(X_test,y_test,model,output='text')
et = time.time()
print(et-st)

"""if __name__ == '__main__':
    explanation_app.run_server(debug=True)"""
print(explanation_app)
torty_orders = list(explanation_app.index)

0.05150723457336426
           Feature  Importance
0              Age       0.305
7              Sex       0.300
2    Education-Num       0.295
3   Marital Status       0.270
1        Workclass       0.255
8     Capital Gain       0.245
9     Capital Loss       0.245
11         Country       0.245
5     Relationship       0.230
6             Race       0.225
4       Occupation       0.200
10  Hours per week       0.200

In [99]:
st = time.time()
explainer = shap.Explainer(model, X_test)
shap_values = explainer(X_test,check_additivity=False)
et = time.time()
print(et-st)

3.313744068145752

In [100]:
attributions = shap_values.values.mean(axis=0)[:,0]
attributions = attributions.reshape(X_test.shape[1])
feature_names(X_test,attributions)
shap_orders = list(feature_names(X_test,attributions).index)
print(shap_orders)

[5, 8, 0, 3, 1, 2, 6, 7, 9, 10, 11, 4]

In [101]:
st = time.time()
explanation_app = explanations.model_explanations(X_test,y_test,model)
et = time.time()
print(et-st)

if __name__ == '__main__':
    explanation_app.run_server(debug=True)

0.05494284629821777

Address already in use
Port 8050 is in use by another program. Either identify and stop that program, or start the server with a different port.

SystemExit: 1

/Users/tortysivill/.pyenv/versions/mvp/lib/python3.12/site-packages/IPython/core/interactiveshell.py:3585: UserWarning:

To exit: use 'exit', 'quit', or Ctrl-D.